<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/com-profile-style.css">
    <title>Document</title>
</head>
<body>
      <main>
        <div class="member-info">
            <div>
                <h1>John Smith</h1>
                    <h3>Associate Professor</h3>
            </div>
            <div>
              <img src="../img/user-avatar.png" alt="member photo">
            </div>
        </div>
        <div class="member-container">
            <h2>General Information</h2>
            <p>Position: Admission Committee member</p>
            <p>Department: Electrical and Electronic Engineering</p>
            <p>School: School of Engineering and Digital Sciences</p>
            <hr>
            <h2>Contact Information:</h2>
            <p>Telephone number: <a href="tel:87011234567" class="contact-info-member">87011234567</a></p>
            <p>Email: <a href="mailto:name.surname@nu.edu.kz" class="contact-info-member">name.surname@nu.edu.kz</a></p>
        </div>
        <div class="member-password">
            <h2>Change Password</h2>
                <div>
                    <form id="password-form">
                    <p>Enter old password: <input type="password" class="input-lg form-control" name="password1" id="password-old" placeholder="Old Password" autocomplete="off"></p>
                </div>
                <div>
                    <p>Enter new password: <input type="password" class="input-lg form-control" name="password2" id="password-new" placeholder="New Password" autocomplete="off"></p>
                    <input type="submit" class="button-password" value="Change password">
                    </form>
                </div>
        </div>
      </main>
</body>
</html>