<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/contacts-style.css">
    <title>Contacts</title>
</head>
<body>
    <header>
        <div class="container">
          <nav>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">Contacts</a></li>
              <li><a href="#">Information</a></li>
              <li><a href="#">Profile</a></li>
            </ul>
          </nav>
        </div>
      </header>
      <main>
          <div class="contacts-container">
              <h1 class="contact-info-chair">Chair of Admission Committee</h1>
              <img src="../img/user-avatar.png" alt="admission committee chair photo" class="contact-info-chair">
              <h2 class="contact-info-chair">Name Surname</h2>
              <a href="tel:87011234567" class="contact-info-chair">87011234567</a>
          </div>
          <div class="contacts-container" id="admission-dep">
              <h1>Admission Department</h1>
              <div class="contact-info-container">
                <div >
                    <img src="../img/user-avatar.png" alt="admission committee chair photo">
                    <h2>Name Surname</h2>
                    <a href="tel:87011234567" >87011234567</a>
                  </div>
                  <div>
                    <img src="../img/user-avatar.png" alt="admission committee chair photo">
                    <h2>Name Surname</h2>
                    <a href="tel:87011234567" >87011234567</a>
                  </div>
                  <div>
                    <img src="../img/user-avatar.png" alt="admission committee chair photo">
                    <h2>Name Surname</h2>
                    <a href="tel:87011234567" >87011234567</a>
                  </div>
              </div>
          </div>
          <div class="contacts-container">
              <h1>Members of Admission Committee</h1>
              <div class="contact-info-container">
                <div >
                    <img src="../img/user-avatar.png" alt="admission committee chair photo">
                    <h2>Name Surname</h2>
                    <a href="tel:87011234567" >87011234567</a>
                  </div>
                  <div>
                    <img src="../img/user-avatar.png" alt="admission committee chair photo">
                    <h2>Name Surname</h2>
                    <a href="tel:87011234567" >87011234567</a>
                  </div>
                  <div>
                    <img src="../img/user-avatar.png" alt="admission committee chair photo">
                    <h2>Name Surname</h2>
                    <a href="tel:87011234567" >87011234567</a>
                  </div>
                  <div>
                    <img src="../img/user-avatar.png" alt="admission committee chair photo">
                    <h2>Name Surname</h2>
                    <a href="tel:87011234567" >87011234567</a>
                  </div>
                  <div>
                    <img src="../img/user-avatar.png" alt="admission committee chair photo">
                    <h2>Name Surname</h2>
                    <a href="tel:87011234567" >87011234567</a>
                  </div>
                  <div>
                    <img src="../img/user-avatar.png" alt="admission committee chair photo">
                    <h2>Name Surname</h2>
                    <a href="tel:87011234567" >87011234567</a>
                  </div>
              </div>
          </div>
      </main>
</body>
</html>