/*body */
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #f4f5f9;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1px;
}

main {
  padding-top: 30px;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*nav*/
.container {
  width: 90vw;
  margin: 0 auto;
  display: flex;
  border-radius: 5px;
}

.header {
  background:  #ffffff;
  font-size: 20px;
  border-bottom: 0.5px solid rgba(120, 120, 120, 0.5);
}

.header-container {
  display: flex;
  height: 80px;
  align-items: center;
}

.nav-bar {
  margin-left: 95px;
}

.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.nav-item {
  margin-left: 50px;
}

.nav-link {
  color: #000;
  text-decoration: none;
  text-transform: lowercase;
}

.nav-link:hover {
  color: #6c63ff;
  transition: 0.3s;
}

.highlight {
  color: #6c63ff;
}

/*contacts*/

.contacts-page {
    display: flex;
    flex-direction: column;
}

.contacts-container {
    margin: 20px;
    display: flex;
    flex-direction: column;
    padding: 30px 50px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
    border-radius: 5px;
}

.contact-type {
  align-self: baseline;
}

.contact-name {
  font-size: 24px;
  line-height: 29px;
  color: #2E2E2E;
  margin-left: 20px;
}

.contact-card {
  flex-direction: row;
  align-items: center;
  margin: 10px;
  margin-left: 0;
  margin-right: 20px;
  padding: 12px 30px;
  max-width: 256px;
  height: 120px;
}

.contact-info-container {
  display: flex;
}

.contact-img {
  width: 50%;
  border-radius: 50%;
}

.contact-link {
  text-decoration: none;
}

/*admission create*/
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button-create, .button-add {
  display: block;
  width: 20%;
  height: 40px;
  border-radius: 25px;
  margin: 1rem 0;
  font-size: 1vw;
  outline: none;
  border: none;
  background-image: linear-gradient(to right, #6dbdb5, #6c63ff, #6dbdb5);
  cursor: pointer;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  background-size: 200%;
  transition: 0.5s;
  text-transform: uppercase;
  background-size: 200%;
}

.button-create:hover, .button-add:hover,.button-move:hover{
  background-position: right;
}

.creation-link {
  text-decoration: none;
  color: #000;
}

.creation-link:hover {
  color: #6c63ff;
  transition: 0.3s;
}

/*committee profile*/

.member-container, .member-password, .log-history{
  margin: 20px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  align-items: center;
}

.member-info {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  align-items: center;
}

.member-pic-container {
  width: 30%;
}

.member-info-wrapper, .log-history, .member-password {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background: #f4f5f9;
  border-radius: 5px;
}

.log-history, .member-password {
  margin: 0;
  margin-top: 40px;
  padding: 20px;
}

.member-pic, .candidate-profile-pic {
  width: 80%;
  border-radius: 50%;
}

.contact-info-member {
  text-decoration: none;
  color: #000;
}
.contact-info-member:hover {
  color: #6c63ff;
  transition: .3s;
}

.button-password{
  display: block;
  width: 50%;
  height: 40px;
  border-radius: 25px;
  margin: 1rem 0;
  font-size: 1.2rem;
  outline: none;
  border: none;
  background-image: linear-gradient(to right, #6dbdb5, #6c63ff, #6dbdb5);
  cursor: pointer;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  background-size: 200%;
  transition: 0.5s;
  text-transform: uppercase;
  background-size: 200%;
}

.button-password:hover{
background-position: right;
}

/* .member-password {
  margin: 0;
  margin-right: 10px;
} */

.log-wrapper {
  display: flex;
  justify-content: space-between;
}

.log-history {
}

/*main page*/
.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.candidates {
  display: flex;
  flex-direction: column;
  width: 65%;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
  border-radius: 5px;
  padding: 30px 40px;
}

.events {
  display: flex;
  flex-direction: column;
  width: 25%;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
  border-radius: 5px;
}


.candidate-eval, .event-aside {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.event-aside {
  flex-direction: column;
}

.candidate-eval {
  box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
  border-radius: 5px;
  padding: 10px;
}

h3 {
  text-align: center;
}

/*candidate profile*/

.candidate-info {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  align-items: center;
}

.candidate-results {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

#interview-eval {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ul-container {
  display: inline-block;
}

.score {
  padding: 10px;
    list-style-type: none;
}

fieldset {
  margin: 20px;
}

.button-profile{
  display: block;
  width: 20%;
  height: 50px;
  border-radius: 25px;
  margin: 1rem 0;
  font-size: 1.2rem;
  outline: none;
  border: none;
  background-image: linear-gradient(to right, #6dbdb5, #6c63ff, #6dbdb5);
  cursor: pointer;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  background-size: 200%;
  transition: 0.5s;
  text-transform: uppercase;
  background-size: 200%;
}

.button-profile:hover{
  background-position: right;
}


/*info page*/

.info-container {
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 30px 40px;
  flex-direction: column;
  margin: 30px 65px;
  display: flex;
  align-items: center;
  font-size: 20px;
}

.info-title {
  align-self: baseline;
}

.info-txt {
  box-shadow: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.info-summary {
  font-size: xx-large;
}


/*candidate dashboard*/
.candidate-pic {
  width: 50px;
}

.title-candidate {
  margin: 0;
  margin-bottom: 20px;
}

.candidate-link {
  text-decoration: none;
  color: #000;
}

.profile-container {
  background: #ffffff;
  padding: 50px;
  flex-direction: column;
  width: 85vw;
}

.member-container {
  flex-direction: row;
  justify-content: space-evenly;
}


/*chair page*/ 
.chair-container {
  display:flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 40px 20px;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.statistics-filtering-wrapper {
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background: #f4f5f9;
  border-radius: 5px;
}

.student-list {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  width: 100%;
}

/*evaluation page*/
.evaluation-container {
  flex-direction: column;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.evaluation {
  width: 90%;
  margin: 20px 40px;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 20px;
}

.evaluation-legend {
  font-size: xx-large;
}

.evaluation-fields {
  margin-left: 50px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background: #f4f5f9;
  border-radius: 5px;
  padding: 20px;
  width: 100%;
}

/*create new candidate page*/
.creation-container {
  flex-direction: column;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background: #ffffff;
  border-radius: 5px;
}

.candidate-general {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.create-cand-item {
  margin-bottom: 10px;
}

.candidate-general {
  flex-direction: row;
  justify-content: space-around;
}

.candidate-test, .candidate-other, .candidate-general-name, .candidate-general-docs{
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background: #ffffff;
  border-radius: 5px;
  margin-top: 20px;
  padding: 20px;
  align-items:center;
  width: 45%;
}

#candidate-other-add {
  flex-direction: column;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background: #ffffff;
  border-radius: 5px;
  margin-top: 20px;
  align-items:center;
  width: 76%;
  padding: 40px 20px 40px 90px;
}

.candidate-other{
  width: 76%;
  padding: 40px;
}

.wrap-candidate-creation {
  width: 45%;
}

.candidate-general-name, .candidate-test {
  width: 100%;

}

input[type=text], input[type=number], input[type=date] {
  padding: 5px;
  border-radius:10px;
  border: 1px solid #eee;
  transition: .3s border-color;
}

input[type=text]:hover, input[type=number]:hover, input[type=date]:hover {
  border: 1px solid #aaa;
}

select {
  padding:5px;
  border-radius:10px;
  border: 1px solid #eee;
  transition: .3s border-color;
}

select:hover {
  border: 1px solid #aaa;
}

.title {
  align-self: center;
}

.edu-dates {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.edu-info {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.edu-info > input {
  width: 20%;
}

.edu-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 40vw;
}


/*evaluation by secretary page*/
.secretary-container {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background: #ffffff;
  border-radius: 5px;
  margin: 20px;
  padding: 20px;
}

.list-secretary {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-move {
  width: 100px;
}

.button-move-down {
  border-radius: 25px;
  margin: 1rem 0;
  font-size: 15px;
  outline: none;
  border: none;
  background-image: linear-gradient(to right, #bd6d6d, #f5ff63, #bd6d71);
  cursor: pointer;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  background-size: 200%;
  transition: 0.5s;
  text-transform: uppercase;
  background-size: 200%;
}

.button-move-up {
  border-radius: 25px;
  margin: 1rem 0;
  font-size: 15px;
  outline: none;
  border: none;
  background-image: linear-gradient(to right, #6dbdb5, #6c63ff, #6dbdb5);
  cursor: pointer;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  background-size: 200%;
  transition: 0.5s;
  text-transform: uppercase;
}

.move-txt {
  font-size: 18px;
}


/*dashboard filtering*/
.candidate-filter {
  display: flex;
  justify-content: center;
  background: white;
}

.filter-title {
  align-self: center;
}

.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f4f5f9;
  cursor: pointer;
  margin: 20px;
  border-radius: 5px;
  transition: .3s;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
   color: white;
}