
<header class="header">
  <div class="container header-container">
    <span class="logo"><span class="highlight">Ad</span>mission</span>
    <nav class="nav-bar">
      <ul class="nav-list">
        <li class="nav-item"><a href="{% url 'dashboard'%}" class="nav-link">Home</a></li>
        {%if request.user.position == 2 or request.user.is_superuser%}
        <li class="nav-item"><a href="{% url 'chair'%}" class="nav-link">Chair</a></li>
        {%endif%}
        {%if request.user.position == 3 or request.user.is_superuser %}
        <li class="nav-item"><a href="{% url 'secretary'%}" class="nav-link">Secretary</a></li>
        {%endif%}
        <li class="nav-item"><a href="{% url 'contacts'%}" class="nav-link">Contacts</a></li>
        <li class="nav-item"><a href="{% url 'info'%}" class="nav-link">Information</a></li>
        <li class="nav-item"><a href="{% url 'personal'%}" class="nav-link">Profile</a></li>
        <li class="nav-item"><a href="{% url 'logout'%}" class="nav-link">Log out</a></li>
      </ul>
    </nav>
  </div>
</header>
