{% for education in educations %}
    <div class="candidate-other">
        <div class="edu-dates">
            <label for="start-date">Start Date: {{ education.start_date }}</label>
            <label for="end-date">End Date: {{ education.end_date }}</label>
            <label for="grad-date">Grad Date: {{ education.grad_date }}</label>
        </div>
        <label for="com-degree">Completed Degree:
            {% if education.degree_type == 0 %}
                BSc
            {% elif education.degree_type == 1 %}
                MSc
            {% endif %}
        </label>
            <p><label for="institution">Institution: {{ education.institution }}</label></p>


            <div class="edu-wrap">
                <label for="study-field">Study Field: {{ education.study_field }}</label>
                <label for="gpa">GPA: {{ education.gpa }}</label>
            </div>
    </div>
{% endfor %}