{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
{{ formset.management_form|crispy }}
<main>
  <div class="container evaluation-container">
    <div class="candidate-info">
      <h1>{{candidate.first_name}} {{candidate.last_name}} </h1>
      <div>
        <img src="{% static 'img/default_user_avatar.png' %}" alt="candidate photo" class="candidate-profile-pic">
      </div>
    </div>
    <div class="candidate-results">
      <form action = "" method = "POST" enctype="multipart/form-data" class="evaluation-form" id="evaluation-form">
        <div class="evaluation application-eval">
              {% csrf_token %}
            <div class="legend-wrap">
              <legend class="evaluation-legend">Application <br> Evaluation</legend>
              <label for="checkFormApp"><input type="checkbox" id="checkFormApp" name="checkFormApp" value="FormYes">Update the evaluation</label>
            </div>
            <span class="evaluation-fields" id="appl-eval">
{#            {{application_formset.as_p}}#}
            {{ application_formset.management_form }}
            {% for p in application_formset %}
                <p>{{p.relevancy.label}}:{{p.relevancy}} <a href="{{ candidate.diploma.url }}" target="_blank" title="Download Diploma" class="doc-get"><i class="fas fa-file"></i></a></p>
                <p>{{p.statement_of_purpose.label}}:{{p.statement_of_purpose}}<a href="{{ candidate.statement_of_purpose.url }}" target="_blank" title="Download Statement of Purpose" class="doc-get"><i class="fas fa-file"></i></a></p>
                <p>{{p.recommendation_1.label}}:{{p.recommendation_1}}<a href="{{ candidate.recomendation_1.url }}" target="_blank" title="Download Reccomendation #1" class="doc-get"><i class="fas fa-file"></i></a></p>
                <p>{{p.recommendation_2.label}}:{{p.recommendation_2}}<a href="{{ candidate.recomendation_1.url }}" target="_blank" title="Download Reccomendation #2" class="doc-get"><i class="fas fa-file"></i></a></p>
                <p>{{p.relevant_degrees.label}}:{{p.relevant_degrees}}<a href="{{ candidate.cv.url }}" target="_blank" title="Download CV" class="doc-get"><i class="fas fa-file"></i></a></p>
                <p>{{p.evaluation_comment.label}}:{{p.evaluation_comment}}</p>
            {% endfor %}
            </span>
        </div>
        <div class="evaluation interview-eval">
          <div class="legend-wrap">
            <legend class="evaluation-legend">Interview <br> Evaluation</legend>
            <label for="checkFormInt"><input type="checkbox" id="checkFormInt" name="checkFormInt" value="FormYes">Update the evaluation</label>
          </div>
            <span class="evaluation-fields" id="int-eval">
            {{interview_formset.as_p}}
            </span>
        </div>
        <input type="submit" class="button-profile" value="Submit">
      </form>
    </div>
  </div>
  <script>
    const checkboxAppEval = document.getElementById("checkFormApp");
    const checkboxIntEval = document.getElementById("checkFormInt");
    let formelemsInit = document.getElementById("appl-eval").querySelectorAll('input,textarea');
    formelemsInit.forEach((formelemsInit) => {
      formelemsInit.disabled = true;
        });
    checkboxAppEval.addEventListener('change', function() {
      if (this.checked) {
        console.log("checked");
        let formelems = document.getElementById("appl-eval").querySelectorAll('input,textarea');
        formelems.forEach((formelem) => {
          formelem.required = true;
          formelem.disabled = false;
        });
      } else {
        console.log("unchecked");
        let formelems = document.getElementById("appl-eval").querySelectorAll('input,textarea');
        formelems.forEach((formelem) => {
          formelem.required = false;
          formelem.disabled = true;
        });
      }
    });
    checkboxIntEval.addEventListener('change', function() {
      if (this.checked) {
        console.log("checked");
        let formelems = document.getElementById("int-eval").querySelectorAll('input,textarea');
        formelems.forEach((formelem) => {
          formelem.required = true;
          formelem.disabled = false;
        });
      } else {
        console.log("unchecked");
        let formelems = document.getElementById("int-eval").querySelectorAll('input,textarea');
        formelems.forEach((formelem) => {
          formelem.required = false;
          formelem.disabled = true;
        });
      }
    });
      
  </script>
</main>

{% endblock %}