{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
{{ formset.management_form|crispy }}
<main>
  <div class="container evaluation-container">
    <div class="candidate-info">
      <h1>{{candidate.first_name}} {{candidate.last_name}}</h2>
      <div>
        <img src="{% static 'img/default_user_avatar.png' %}" alt="candidate photo" class="candidate-profile-pic">
      </div>
    </div>
    <div class="candidate-results">
      <form action = "" method = "POST" enctype="multipart/form-data" class="evaluation-form">
        <div class="evaluation application-eval">
              {% csrf_token %}
  
            <legend class="evaluation-legend">Application <br> Evaluation</legend>
            <span class="evaluation-fields">
            {{application_formset.as_p}}
            </span>
        </div>
        <div class="evaluation interview-eval">
            <legend class="evaluation-legend">Interview <br> Evaluation</legend>
            <span class="evaluation-fields">
            {{interview_formset.as_p}}
            </span>
        </div>
        <input type="submit" class="button-profile" value="Submit">
      </form>
    </div>
  </div>
</main>

{% endblock %}