
{% load static %}

{%if request.user.position != 0  %}
    {%if request.user.position == 2 or request.user.position == 1 %}
        <a href = "{% url 'candidate_evaluate' evaluation.candidate.candidate_id %}" class="candidate-link">
    {%elif request.user.position == 3  %}
        <a href = "{% url 'approve_evaluation' evaluation.evaluation_id %}" class="candidate-link">
    {% endif %}
        <div class="candidate-eval">
            <img src="{%static 'img/default_user_avatar.png'%}" alt="candidate avatar" class="candidate-pic">
            <p>{{evaluation.candidate.first_name}} {{evaluation.candidate.last_name}}</p>
            <p>{{evaluation.candidate.uuid}}</p>
            {% if request.user.position == 3 %}
            <p>Evaluator: {{evaluation.evaluator.first_name}} {{evaluation.evaluator.last_name}}</p>
            {% endif %}
            <p id="status">Status: {{evaluation.evaluation_status}}</p>
        </div>
    </a>

{% else %}
    <a href = "{% url 'observe_candidate' candidate.candidate_id %}" class="candidate-link">
    <div class="candidate-eval">
        <img src="{%static 'img/default_user_avatar.png'%}" alt="candidate avatar" class="candidate-pic">
        <p>{{candidate.first_name}} {{candidate.last_name}}</p>
        <p>{{candidate.uuid}}</p>
    </div>
    </a>
{% endif %}
