{% extends 'mainapp/base.html' %}

{% block content %}
<main id="contacts-page">
          <div class="contacts-container">
              <h1 class="contact-info-chair">Chair of Admission Committee</h1>

              {%for person in chairs%}
                {% include "mainapp/contact_card.html" with person=person %} 
              {% endfor %}

          </div>
          <div class="contacts-container" id="admission-dep">
              <h1>Admission Department</h1>
              <div class="contact-info-container">
                {%for person in dept_members%}
                  {% include "mainapp/contact_card.html" with person=person %} 
                {% endfor %}
              </div>
          </div>
          <div class="contacts-container">
              <h1>Members of Admission Committee</h1>
              <div class="contact-info-container">
                  {%for person in committie%}
                    {% include "mainapp/contact_card.html" with person=person %} 
                  {% endfor %}
              </div>
          </div>
      </main>
{% endblock %}