
{% extends 'mainapp/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
      <main>
          <div class="container creation-container">
              <h3>Create New Candidate Profile</h3>
              <form action = "" method = "POST" enctype="multipart/form-data">
              {% csrf_token %}
                <div class="candidate-general">
                  {{ form.as_p }}
                </div>
                
                <div class="candidate-test">
                  {{ testing_formset.as_p }}
                </div>
                
                <div class="candidate-other">
                  {{ education_formset.as_p }}
                </div>
              <input type="submit" class="button-create" value="Create New Candidate">
              </form>
          </div>
      </main>
{% endblock %}