<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main-page-style.css">
    <script src="https://kit.fontawesome.com/48c6949a1b.js" crossorigin="anonymous"></script>
    <title>Main</title>
</head>
<body>
    <header>
        <div class="container">
          <nav>
            <ul>
              <li><a href="main-page.html">Home</a></li>
              <li><a href="contacts.html">Contacts</a></li>
              <li><a href="info.html">Information</a></li>
              <li><a href="com-profile.html">Profile</a></li>
              <li><a href="#">Log Out</a></li>
            </ul>
          </nav>
        </div>
      </header>
      <main>
          <div class="main-container">
            <div id="candidates">
                <h3>List of candidates</h3>
                <div class="candidate-eval">
                    <img src="../img/user-avatar.png" alt="candidate avatar">
                    <p>Candidate Candidate</p>
                    <p id="status">Status</p>
                    <i class="fas fa-circle"></i>
                </div>
                <div class="candidate-eval">
                    <img src="../img/user-avatar.png" alt="candidate avatar">
                    <p>Candidate Candidate</p>
                    <p id="status">Status</p>
                    <i class="fas fa-circle"></i>
                </div>
                <div class="candidate-eval">
                    <img src="../img/user-avatar.png" alt="candidate avatar">
                    <p>Candidate Candidate</p>
                    <p id="status">Status</p>
                    <i class="fas fa-circle"></i>
                </div>
                <div class="candidate-eval">
                    <img src="../img/user-avatar.png" alt="candidate avatar">
                    <p>Candidate Candidate</p>
                    <p id="status">Status</p>
                    <i class="fas fa-circle"></i>
                </div>
                <div class="candidate-eval">
                    <img src="../img/user-avatar.png" alt="candidate avatar">
                    <p>Candidate Candidate</p>
                    <p id="status">Status</p>
                    <i class="fas fa-circle"></i>
                </div>
                <div class="candidate-eval">
                    <img src="../img/user-avatar.png" alt="candidate avatar">
                    <p>Candidate Candidate</p>
                    <p id="status">Status</p>
                    <i class="fas fa-circle"></i>
                </div>
                <div class="candidate-eval">
                    <img src="../img/user-avatar.png" alt="candidate avatar">
                    <p>Candidate Candidate</p>
                    <p id="status">Status</p>
                    <i class="fas fa-circle"></i>
                </div>
            </div>
            <div id="events">
                <h3>History</h3>
                <div class="event-aside">
                    <p>Something happened</p>
                </div>
                <div class="event-aside">
                    <p>Something happened</p>
                </div>
                <div class="event-aside">
                    <p>Something happened</p>
                </div>
                <div class="event-aside">
                    <p>Something happened</p>
                </div>
            </div>
          </div>
      </main>
</body>
</html>