{% extends 'mainapp/base.html' %}
{% block content %}
    <main>
          <p>Round number #{{admission_round}}</p>
          <div class="main-container">
                {%if request.user.position == 2 or request.user.position == 1 %}
                    {% include 'mainapp/eval_dashboard.html' %}
                {%elif position == 0  %}
                    {% include 'mainapp/create_dashboard.html' %}                    
                {%elif position == 3  %}
                    {% include 'mainapp/approve_dashboard.html' %}
                {% endif %}

            <div class="events">
                <h3>History</h3>
                
                <div class="event-aside">
                    <p>Something happened</p>
                </div>
                
            </div>
          </div>
      </main>
{% endblock %}