
<header>
        <div class="container">
          <nav>
            <ul>
              <li><a href="{% url 'dashboard'%}">Home</a></li>
              {%if request.user.position == 2%}
              <li><a href="{% url 'chair'%}">Chair</a></li>
              {%endif%}
              <li><a href="{% url 'contacts'%}">Contacts</a></li>
              <li><a href="{% url 'info'%}">Information</a></li>
              <li><a href="{% url 'personal'%}">Profile</a></li>
              <li><a href="{% url 'logout'%}"> {{request.user.first_name}} {{request.user.last_name}} Logout</a></li>
            </ul>
          </nav>
        </div>
      </header>