{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
      <main>
        <div class="member-info">
            <div>
                <h1>{{user.user.first_name}} {{user.user.last_name}}</h1>
                    <h4>{{position}}</h4>
            </div>
            <div>
              <img src="{% static 'img/user-avatar.png'%}" alt="member photo">
            </div>
        </div>
        <div class="member-container">
            <h2>General Information</h2>
            <p>Department: {{user.department}}</p>
            <p>School: {{user.school}}</p>
            <hr>
            <h2>Contact Information:</h2>
            <p>Telephone number: <a href="tel:{{user.phone_number}}" class="contact-info-member">{{user.phone_number}}</a></p>
            <p>Email: <a href="mailto:{{user.user.email}}" class="contact-info-member">{{user.user.email}}</a></p>
        </div>

        {%if request.user == user.user%}
            <div class="member-password">
                <h2>Change Password</h2>
                    <div>
                        <form id="password-form" action="" method="POST">
                        {% csrf_token %}

                        {{form.as_p}}

                        {%for message in messages%}
                            <p> {{message}}<p>
                        {% endfor %}

                        <input type="submit" class="button-password" value="Change password">
                        </form>
                    </div>
            </div>
        {%endif%}
      </main>
{% endblock %}