{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}


  <div class="candidate-info">
    <h1>{{candidate.first_name}} {{candidate.last_name}}</h2>
    <div>
      <img src="{% static 'img/user-avatar.png' %}" alt="user photo">
    </div>
  </div>
  <div class="candidate-results">
    <form action = "" method = "POST">
      <div id="interview-eval" class="evaluation">
          <fieldset>
            {% csrf_token %}
            
          <legend>Application Evaluation</legend>

          <p>
              <label>GPA</label>
              {% comment %} {{form.gpa}} {% endcomment %}
          </p>
          <p>
          <label>Recommendations</label>
              {% comment %} {{form.recommendations}} {% endcomment %}
        </p>
        <p>
        <label>Educational Background</label>
              {% comment %} {{form.educational_backgorund}} {% endcomment %}


      </p>
        </fieldset>

      </div>
      <div id="application-eval" class="evaluation">
        <fieldset>
          <legend>Interview Evaluation</legend>
          <p>
              <label>Understanding of Major Domain</label>
              {{form.understanding_of_major}}
          </p>
          <p>
            <label>Research Interest and Motivation</label>
              {{form.research_interest_and_motivation}}
          </p>
          <p>
          <label>Professional Work Experience/Career Goals</label>
              {% comment %} {{form.experience_and_goals}} {% endcomment %}
        </p>
        <p>
        <label>Command of English</label>
              {{form.english_level}}
      </p>
        </fieldset>
      </div>
      <input type="submit" class="button-profile" name="Submit">
    </form>
  </div>
</main>

{% endblock %}