{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
      <main>
          <div class="secretary-container">
              <div class="list-secretary recom-list">
              <h3>Recommended for admission:</h3>
              <div class="sec-list-wrap">
                {%for candidate in candidates.recommended_list%}
                <div class="list-card">
                  <span class="move-txt">{{candidate.first_name}} {{candidate.last_name}}  {{ candidate.total_score }}</span>
                  <button class="button-move button-move-up" id="{{candidate.candidate_id}}-id-up">Promote</button>
                  <button class="button-move button-move-down" id="{{candidate.candidate_id}}-id-down">Reject</button>
                </div>
                <script>
                  document.getElementById("{{candidate.candidate_id}}-id-up").addEventListener("click", function(){
                    fetch("http://127.0.0.1:8000/api/candidate/{{candidate.candidate_id}}/raise_up/", { method: "GET"})
                    .then( response => {
                     if (response.status !== 200) {
                      return Promise.reject(); 
                        }
                        return response.text();
                        document.getElementById("{{candidate.candidate_id}}-id-up").innerHTML  = "Promoted";
                            })
                        .then(i => console.log(i))
                          .catch(() => console.log('ошибка'));  
                  });
                  document.getElementById("{{candidate.candidate_id}}-id-down").addEventListener("click", function(){
                    fetch("http://127.0.0.1:8000/api/candidate/{{candidate.candidate_id}}/move_down/", { method: "GET"})
                    .then( response => {
                     if (response.status !== 200) {
                      return Promise.reject(); 
                        }
                        document.getElementById("{{candidate.candidate_id}}-id-down").innerHTML  = "Rejected";
                        return response.text();
                            })
                        .then(i => console.log(i))
                          .catch(() => console.log('ошибка'));  
                  });
                </script>
              {% endfor %}
              </div>
              <!-- <table>
                {%for candidate in candidates.recommended_list%}
                  <tr>
                    <td>
                      {{candidate.first_name}} {{candidate.last_name}}</td>
                  </tr>
                {% endfor %}
                <button>Move Up</button>
              </table> -->
              </div>
              <div class="list-secretary wait-list">
              <h3>Waiting list:</h3>
              <div class="sec-list-wrap">
                {%for candidate in candidates.waiting_list%}
                <div class="list-card"> 
                  <span class="move-txt">{{candidate.first_name}} {{candidate.last_name}} {{ candidate.total_score }}</span>
                  <button class="button-move button-move-up" id="{{candidate.candidate_id}}-id-up">Promote</button>
                </div>
                <script>
                  document.getElementById("{{candidate.candidate_id}}-id-up").addEventListener("click", function(){
                    fetch("http://127.0.0.1:8000/api/candidate/{{candidate.candidate_id}}/raise_up/", { method: "GET"})
                    .then( response => {
                     if (response.status !== 200) {
                      return Promise.reject(); 
                        }
                        document.getElementById("{{candidate.candidate_id}}-id-up").innerHTML  = "Promoted";
                        return response.text();
                            })
                        .then(i => console.log(i))
                          .catch(() => console.log('ошибка'));  
                  });
                </script>
              {% endfor %}
              </div>
              <!-- <table>
                {%for candidate in candidates.waiting_list%}
                  <tr>
                    <td>{{candidate.first_name}} {{candidate.last_name}}</td>
                  </tr>
                {% endfor %}
              </table>  -->
              </div>
              <div class="list-secretary reject-list">
              <h3>Rejected candidates:</h3>
              <div class="sec-list-wrap">
                {%for candidate in candidates.rejected_list%}
                <div class="list-card">
                  <span class="move-txt">{{candidate.first_name}} {{candidate.last_name}} {{ candidate.total_score }}</span>
                  <button class="button-move button-move-up" id="{{candidate.candidate_id}}-id-up">Promote</button>
                </div>
                <script>
                  document.getElementById("{{candidate.candidate_id}}-id-up").addEventListener("click", function(){
                    fetch("http://127.0.0.1:8000/api/candidate/{{candidate.candidate_id}}/raise_up/", { method: "GET"})
                    .then( response => {
                     if (response.status !== 200) {
                      return Promise.reject(); 
                        }
                        document.getElementById("{{candidate.candidate_id}}-id-up").innerHTML  = "Promoted";
                        return response.text();
                            })
                        .then(i => console.log(i))
                          .catch(() => console.log('ошибка'));  
                  });
                </script>
              {% endfor %}
              </div>
              <!-- <table>
                {%for candidate in candidates.rejected_list%}
                  <tr>
                    <td>{{candidate.first_name}} {{candidate.last_name}}</td>
                  </tr>
                {% endfor %}
              </table> -->
              </div>
          </div>
      </main>
{% endblock %}