<form method="GET" action="." class="sorting-form">
    <h1>Admission round #{{ candidates.admission_round.round_number }}</h1>
    <div class="wrap-filter wrap-dash">
      {#degree#}
      <label for="period">Degree</label>
      <select id="period" class="form-control" name="period">
        <option selected>{{ candidates.admission_round }}</option>
        {% for round in candidates.rounds %}
            <option value="{{ round.round_number }}">{{ round }}</option>
        {% endfor %}
      </select>
    </div>

    <a href="{% url 'secretary' %}" class="refresh-button"><i class="fa fa-refresh" aria-hidden="true"></i></a>

<button type="submit" class="btn btn-primary">Search</button>
</form>