{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
      <main>
          <div class="secretary-container">
              <div class="list-secretary">
              Recommended for admission:
              <table>
                {%for candidate in recommended_list_candidates%}
                  <tr>
                    <td>{{candidate.first_name}} {{candidate.last_name}}</td>
                  </tr>
                {% endfor %}
              </table>
              </div>
              <div class="list-secretary">
              Waiting list:
              <table>
                {%for candidate in waiting_list_candidates%}
                  <tr>
                    <td>{{candidate.first_name}} {{candidate.last_name}}</td>
                  </tr>
                {% endfor %}
              </table> 
              </div>
              <div class="list-secretary">
              Rejected candidates:
              <table>
                {%for candidate in rejected_list_candidates%}
                  <tr>
                    <td>{{candidate.first_name}} {{candidate.last_name}}</td>
                  </tr>
                {% endfor %}
              </table>
              </div>
          </div>
      </main>
{% endblock %}