{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}


  <div class="candidate-info">
    <h1>{{candidat.first_namee}} {{candidate.last_name}}</h1>
    <div>
      <img src="{% static 'img/user-avatar.png' %}" alt="user photo">
    </div>
  </div>
  <div class="candidate-results">
      <div id="interview-eval" class="evaluation">
          <fieldset>
            
          <p>
              <label>GPA</label>
              {{candidate.gpa}}
          </p>
          <p>
          <label>School rating</label>
              {{candidate.school_rating}}
        </p>
        <p>
          <label>Recommendations</label>
              {{candidate.recommendations}}
        </p>
        <p>
        <label>Educational Background</label>
              {{candidate.educational_backgorund}}
      </p>
      <a href={%url 'dashboard'%}><input type="submit" class="button-create" value="Edit Candidate">
        </fieldset>

      </div>
  </div>
</main>

{% endblock %}